
<section class="container ">
    <div class="container ">

    <h2>Edit post</h2>
    <form class="edit-post-form">
        <div class="container justify-content-center">
            <h5>Title:</h5>
            <input  name="post-title" id="post-title" type="text" value="{{title}}" />
            <h5>Text: </h5>
            <textarea name="post-text" id="post-text">{{body}}</textarea>
        </div>
        <div class="button-wrapper">
            <button type="submit" class="save-post-btn">Save post</button>
        </div>
    </form>
    </div>
</section>
<script src="/js/editPost.js"></script>


 