
<section class="container">
    <h1>Home page</h1>
    <br>
    <br>
    <h4>
    Welcome to your New Tech Blog
    </h4>
<br>

<div class="card bg-blue">
    {{#each blogs}}
    <h5 class="card-header">{{time}}</h5>
    <h4 class="card-header bg-blue">{{title}}</h4> 
    <div class="card-body">
        <p class="card-text">{{body}}</p> 
    </div>
    {{/each}}
</div>
</section>
