
<div class="login-form">
    <form action="" id="login">
        <h1>Login</h1>
        <div class="content">
            <div class="input-field">
                <input type="text" placeholder="username" autocomplete="nope" id="loginUsername">
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" autocomplete="new-password" id="loginPassword">
            </div>
        </div>
        <div class="action">
            <button type="submit" id="signup">Register</button>
            <button type="submit" id="loginbtn">Sign in</button>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>